@keyframes swing-h {
  15% {
    transform: translateX(6px);
  }
  30% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  65% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swing-w {
  15% {
    transform: translateY(6px);
  }
  30% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  65% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
