//- .modal.d-f(data-modal="dflt")
//-     .modal__window(data-modal-wndw="")
//-         button.modal__close.d-f.ai-c.jc-c(data-modal-cls="")
//-             img.modal__close-icon(src=`${pthIcns}/close.svg`, alt="", loading="lazy")    
//-         .modal__content
