body {
    font-family: $default-font, sans-serif;
    color: $mainColor;
    font-weight: $mainWeight;
    font-size: $mainSize;
    padding-top: $heightHeader;
    a,
    button {
        color: $mainColor;
        font-weight: $mainWeight;
        font-size: $mainSize;
        transition: 0.3s;
    }
    img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
}
.main {
    min-height: $minHeightMain;
}

.container {
    max-width: calc(#{$content-width} + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @media (max-width: 500px) {
        padding: 0 20px;
    }
}
